<!DOCTYPE HTML>
<html>
    <head>
        <title>Media Server</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    	<nav class="navbar navbar-expand-md navbar-light bg-primary">
    		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
    		</button>
    		<a class="navbar-brand text-warning" href="#">Navbar</a>
    		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        		<div class="navbar-nav">
            		<a class="nav-item nav-link text-warning" href="/">Home <span class="sr-only">(current)</span></a>
            		<a class="nav-item nav-link text-warning" href="/movies">Movies</a>
            		<a class="nav-item nav-link text-warning" href="/videos">Shows</a>
        		</div>
    		</div>
		</nav>