<% include ./partials/header %> 

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Welcome to a Video Streaming Site</h1>
		<p>This is a website to watch some shows and movies</p>
		 <p>
         	<a class="btn btn-primary brn-lg" href="/videos/series/new">Add a New Series</a>
         </p>
         <p> 
         	<a class="btn btn-primary brn-lg" href="/movies/new">Add a New Movie</a>
         </p>
	</div>
</div>


<% include ./partials/footer %> 